.flex-container {
  height:75vh;
  display:flex;
  flex-direction: row;
}
.flex-item{
    flex:3;
}
.routes-container {
 	overflow-y:auto;
}
.routes-item{
	border-style: solid;
    border-width: 1px;
    height: 70px;
    background-color:white;
}
#headItem{
	text-align: center;
	font-size: 20px;
	background-color:#B0B0B0;
}
footer {
	height: 30px;
	float: bottom;
	background-color:#2c3e50;
	color:white;
	text-align: center;
}
header {
	float: top;
	height:110px;
}

#routes_list{
	flex:5;
}
#routes{
	flex:8;
} 
/* #logo{
	position: relative;
    right: 470px;
    top: 0px;
    float:right;
} */
#company_name{
	width: 300px;
    margin: 0 auto;
}
#choose_bar{
	text-align: center;
}
canvas{
	background:url("images/map.png") no-repeat;
	background-size: 100%;
}
body{
	background:url("images/grey2.jpg") no-repeat;
	background-size: 100%;
}